@import '../../styles/abstracts/all';

.error{
    display: block;
    width: fit-content;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: .8rem 1.5rem;

    background: $error;
    border-radius: 5rem;
}

.marginTop{
    margin: 1.5rem auto 0rem;
}