@import '../../styles/abstracts/all';

.container{
    margin: 0 auto;
}

.flex{
    flex-direction: row;
    @media (max-width: 992px){
        flex-direction: column-reverse;  
    }
}

.left{
    flex: 1;

    @media screen and (max-width: 992px){
        flex: 0;
    }

    &__title{
        font-size: 5.5rem;
        color: white;
        margin-bottom: 1rem;
    }

    &__desc { 
        font-size: 2.4rem;
        font-weight: 300;
        width: 40ch;
        color: rgba(255, 255, 255, 0.8);
    }

    &__actions{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin-top: 3rem;

        &_btn{
            width: 60%;
            padding: 1.5rem;
            font-size: 1.6rem;
            color: #fff;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 5rem;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 768px){
        padding: 5rem 0;

        &__title{
            font-size: 3.5rem;
        }

        &__desc { 
            font-size: 1.8rem;
            width: 100%;
        }

        &__actions{
            display: flex;
            flex-direction: column;
            gap: 2rem;
    
            margin-top: 3rem;
    
            &_btn{
                width: 100%;
            }
        }    
    }
}

.right{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: center;

    position: relative;
    max-width: 45rem;
    max-height: 45rem;
    border-radius: 50%;
    background: -webkit-radial-gradient(46.2rem, #02547A, transparent 50%);
    background: radial-gradient(46.2rem, #02547A, transparent 50%);

    @media screen and (min-width: 1200px){
        display: flex;

    }

    &__twitterLogo{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &__emotionIcons{
        position: relative;
        height: 45rem;
        width: 45rem;
        animation: rotate 60s linear infinite;

        &_imgWrapper{
            position: absolute;
            width: 6.5rem;
            height: 6.5rem;
            animation: rotateReverse 60s linear infinite;
            
            &:nth-child(1){
                top: 30%;
                left: -4%;
            }

            &:nth-child(2){
                top: -5%;
                left: 37%;
            }

            &:nth-child(3){
                top: 30%;
                right: -4%;
            }
            
            &:nth-child(4){
                top: 78%;
                left: 78%;
            }
            
            &:nth-child(5){
                top: 78%;
                left: 7%;
            }
        }
    }
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse{
    100%{
        transform: rotate(-360deg);
    }
}